body {
  background-color: #121212;
  color: #f5f5f5;
}

.stApp {
  font-family: 'Inter', sans-serif;
}

.css-18e3th9 {
  padding: 24px 34px 10px;
}

.stButton>button {
  border-radius: 12px;
}

.stTextInput>div>div>input {
  background-color: #1f1f1f;
  color: #f5f5f5;
}
